body {
    background: black;
    color:forestgreen;
    font-family:cursive;
}

p {
    font-family:cursive;
    font-size: 24px;
}

h1 {
    color:rgb(83, 79, 7);
    text-align: center;
    text-shadow: 0 0 4px rgb(34, 241, 34), 0 0 4px white, 0 0 4px white, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px;
    border: 6px solid forestgreen;
}

select {
    font-size: 16px;
    font-family:cursive
}